---

- name: Install netfilter-persistent
  become: true
  environment:
    DEBIAN_FRONTEND: noninteractive
  apt:
    name: netfilter-persistent
    state: present
    update_cache: yes

- name: Remove config residual (if exists)
  become: true
  apt:
    name: iptables-persistent
    state: absent
    purge: yes

- name: Install iptables-persistent
  become: true
  environment:
    DEBIAN_FRONTEND: noninteractive
  apt:
    name:
      - iptables-persistent
      - netfilter-persistent
    state: present
    update_cache: yes

- name: Copy rules.v4
  become: true
  copy:
    src: rules.v4
    dest: /etc/iptables/rules.v4
  notify: Restart iptables

- name: Ensure iptables rules are applied on reboot
  become: true
  command: netfilter-persistent save
  changed_when: false
